{# src/EloBoosted/FrontofficeBundle/Resources/views/Layout.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ asset('plugins/jquery/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap/js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap/js/moment-with-locales.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap/js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap/js/prettify-1.0.min.js') }}"></script>

    <script src="{{ asset('js/core.min.js') }}"></script>
    <link href="{{ asset('plugins/bootstrap/css/base.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/bootstrap/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/bootstrap/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/bootstrap/css/prettify-1.0.css') }}" rel="stylesheet">
    <style>

        .custom {
            background: #ff081b;
            animation: myfirst 5s;
            -webkit-animation: myfirst 1.25s infinite; /* Safari and Chrome */
        }

        @-webkit-keyframes myfirst /* Firefox */
        {
            0% {
                background: red;
            }
            50% {
                background: #e6023f;
            }
            100% {
                background: #ff0079;
            }
        }


    </style>

    {% block head %}
        <!-- META -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title> EloBoosted-GameHub </title>

        <!-- FAVICON -->
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">

        <!-- CORE CSS -->
        <link href="{{ asset('FOassets/css/chat.css') }}" rel="stylesheet">
        <link href="{{ asset('FOassets/css/SideNav.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>

        <!-- PLUGINS -->
        <link href="{{ asset('plugins/animate/animate.min.css') }}" rel="stylesheet">

        <!-- THEME CSS -->
        <link href="{{ asset('css/theme.min.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body class="fixed-header">
{% block body %}
    <header>
        {% block header %}

            <div class="container">
                <span class="bar hide"></span>
                <a href="" class="logo"><img src="{{ asset('img/logo.png') }}" alt=""></a>
                <nav>
                    <div class="nav-control">
                        <ul>
                            <li class="">
                                <a href="{{ path('showAllPosts') }}" class="">Forum</a>
                                <!--<ul class="dropdown-menu default">
                                    <li><a href="{{ path('showAllPosts') }}">View All Tournaments</a></li>
                                </ul>-->
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle">Tournaments</a>
                                <ul class="dropdown-menu default">
                                    <li><a href="{{ path('tournoi_index', {'p': 1}) }}">View All Tournaments</a></li>
                                    {% if is_granted('ROLE_USER') %}
                                        <li><a href="{{ path('tournoi_new') }}">Create Tournament</a> </li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle">Events</a>
                                <ul class="dropdown-menu default">
                                    <li><a href="{{ path('tevenement_index_front', {'page': 1}) }}"><i class="fa fa-newspaper-o"></i> Check Our Events</a></li>
                                    <li><a href="{{ path('calender')}}"><i class="fa fa-calendar"></i> Calender</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle">Games</a>
                                <ul class="dropdown-menu default">
                                    <li><a href="{{ path('yes_index') }}"><i class="fa fa-shopping-bag"></i>View All Games</a></li>
                                    {% if is_granted('ROLE_USER') %}
                                    <li><a href="{{ path('yes_new') }}"><i class="fa fa-plus"></i>Add New Game</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle">Shop</a>
                                <ul class="dropdown-menu default">
                                    <li><a href="{{ path('tproduit_index', {'page': 1}) }}"><i class="fa fa-shopping-bag"></i>View All Products</a></li>
                                    {% if is_granted('ROLE_USER') %}
                                    <li><a href="{{ path('tproduit_new') }}"><i class="fa fa-plus"></i>Post You Product</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="custom"><a href="{{ path('streaming_all') }}"><i class="fa fa-eye" ></i>Streaming</a></li>
                            <!-- <li><a href="">Contact</a></li>-->
                        </ul>
                    </div>
                </nav>
                <div class="nav-right">
                    {% if app.user  == null %}
                        <div class="nav-profile dropdown">
                            <a href="{{ path('eloboosted_login_homepage') }}" ><img src="{{ asset('FOassets/img/login.png') }}" alt=""> <span>Connect to you account</span></a>

                        </div>

                    {% else %}
                        {% set foo = app.user.image  %}
                        <div class="nav-profile dropdown">
                            <a href="{{ path('AddProduct_page') }}" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ foo }}" alt=""> <span>{{ app.user.pseudo }}</span></a>

                            <ul class="dropdown-menu">
                                <li><a href="{{ path('myProfile') }}"><i class="fa fa-user"></i> Profile</a></li>
                                <li><a href="{{ path('editAccount') }}"><i class="fa fa-gear"></i> Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('SignOut') }}"><i class="fa fa-power-off"></i> Sign Out</a></li>
                            </ul>

                        </div>
                        <div id="nots2" class="nav-dropdown dropdown">

                            {{ render(controller('EloboostedFrontofficeBundle:Notification:NotificationlistRender')) }}
                            {#<li class="dropdown-header"><i class="fa fa-bell"></i> You have 5 new games</li>
                            <li><a href="index.html#">Alien Isolation</a></li>
                            <li><a href="index.html#">Witcher 3 <span class="label label-success">XBOX</span></a></li>
                            <li><a href="index.html#">Last of Us</a></li>
                            <li><a href="index.html#">Uncharted 4 <span class="label label-primary">PS4</span></a></li>
                            <li><a href="index.html#">GTA 5 <span class="label label-warning">PC</span></a></li>
                            <li class="dropdown-footer"><a href="index.html#">View all games</a></li>#}
                            </ul>
                        </div>

                    {% endif %}
                    <span id="OpenNav" style="font-size:15px;color:White;cursor:pointer">&#9776; Open Chat</span>

                </div>
            </div>
        {% endblock %}
    </header>
    <!-- /header -->

    <div class="modal-search">

        <div id="mySidenav" class="sidenav">
            <script>
                $(document).ready(function() {

                    $('#OpenNav').on('click',function () {

                        if($('#mySidenav').width()==0)
                        {
                            $('#mySidenav').width(380);
                        }
                        else
                        {
                            $('#mySidenav').width(0);
                        }
                    });





                    // Update messages section
                    window.setInterval(

                        function()
                        {
                            $.post('{{ path('lstmsg') }}', function(data) {
                                $('#renderedChat').html(data);
                            });

                        }

                        , 500);

                    $('#msg').on('submit', function(e) {
                        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire

                        var $this = $(this);

                        $.ajax({
                            url: $this.attr('action'),
                            type: 'post',
                            data: $this.serialize(),
                            dataType: 'json', // JSON
                            success: function(json) {
                                console.log(json);
                            }

                        });
                        $('#chatMessage').val('');



                        $("#chatMessage").focus();



                    });
                });

            </script>

            <div style="position: fixed;top: 56px;width: 368px">
                {% if app.user != null %}
                    <div style="max-width: 380px; overflow-wrap: break-word;background-color: #1e347b;z-index: 99999">
                        <div style="margin: 3px;font-size: 14px;padding: 5px">
                            <form id="msg" action="{{ path('postmsg') }}" method="post">
                                <label for="chatMessage" style="color: ghostwhite;">Type message</label>
                                <input type="text" autocomplete="off" name="message" id="chatMessage" />
                                <input type="submit" value="submit" class="btn-primary" />
                            </form>
                        </div>
                    </div>

                    {#<form id="msg" action="{{ path('postmsg') }}" method="post">
                        <label for="chatMessage">Type messaga </label>
                        <input type="text" name="message" id="chatMessage" />
                        <input type="submit" value="submit" />
                    </form>#}


                {% else %}
                    <div style="max-width: 380px; overflow-wrap: break-word;background-color: #1e347b;z-index: 99999">
                        <div style="margin: 3px;font-size: 15px;padding: 5px">
                            <h5 style="display: inline;color: #9fbfdf">If you want to contribute to the chat and help interract with our members please login <a  href="{{ path('eloboosted_login_homepage') }}" style="display: inline-block;font-size: 15px"> here </a></h5>
                        </div>
                    </div>

                {% endif %}
            </div>
            <div id="renderedChat" style="position: relative;width: 350px;z-index: -1" >
                {{ render(controller('EloboostedFrontofficeBundle:Compte:listRender')) }}
            </div>


        </div>

    </div><!-- /.modal-search -->

          <!-- wrapper -->
    <div id="wrapper">

    {% block main %}
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
    <script src="{{ asset('plugins/ekko-lightbox/ekko-lightbox.min.js') }}"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>
    <script src="{{ asset('js/core.min.js') }}"></script>

</div>
    <!-- /#wrapper -->

    <!-- footer -->
{% block footer %}
    <footer>

            <div class="container">
                <div class="widget row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <h4 class="title">About GameInjection</h4>
                        <p>This Website is for gamers in which they can sell or exchange products,
                        help others and share experience through the forum
                        also check our last games and participate in our tournaments or others created by their own
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <h4 class="title">Our website Provide</h4>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul class="nav">
                                    <li><a href="{{ path('tproduit_index', {'page': 1}) }}">Shop</a></li>
                                    <li><a href="{{ path('tevenement_index_front', {'page': 1}) }}">Events</a></li>
                                    <li><a href="{{ path('streaming_all') }}">PC</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="title">Email Newsletters</h4>
                        <p>Subscribe to our newsletter and get notification when new games are available.</p>
                        <form method="post" class="btn-inline form-inverse">
                            <input type="text" class="form-control" placeholder="Email..." />
                            <button type="submit" class="btn btn-link"><i class="fa fa-envelope"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        "{{ socialButtons() }}"
            <div class="footer-bottom">
                <div class="container">
                    &copy; 2017 GameInjection. All rights reserved.
                </div>
            </div>

    </footer>
    <!-- /.footer -->

    <!-- Javascript -->

{% endblock %}
{% endblock %}

</body>
</html>