{# src/FrontofficeBundle/Resources/views/Products/addProduct.html.twig #}
{% extends 'EloboostedFrontofficeBundle:Default:Layout.html.twig' %}
{% block main %}
    <script type="text/javascript" src="{{ asset('assets/jquery/jquery-1.9.1.js') }}"></script>
    <script type="text/javascript" src="http://www.jquery-az.com/boots/js/bootstrap-filestyle.min.js"> </script>

    <script>
        $(document).ready(function () {
            var RandomCode=  Math.floor(Math.random()*(9999999-1000000+1)+1000000);
            $('#SubmitBtn').hide();
            $('#SubmitBtn').prop('disabled', true);



            $('#dateInput').change(function() {
                var today =new Date();
                var inputDate = new Date($('#dateInput').val());
                if (inputDate > today) {
                    $('#dateInput').val('');
                    alert("Please select a valid date");
                }
            });



            $('#firstCheck').click(
                function () {
                    RandomCode=  Math.floor(Math.random()*(9999999-1000000+1)+1000000);
                    var Addressmail = $('#Email').val();
                    $('#code').html(RandomCode);
                    console.log(Addressmail+" "+RandomCode);

                    $.ajax({
                        url: "{{ path('SendMail') }}",
                        method: "post",
                        data : { code : RandomCode, mail : Addressmail },
                        type : 'json',
                        success: function (data) {

                            console.log(data['data']);
                            $('#Part1').fadeOut();
                            $('#Part2').fadeIn();
                            $('#SubmitBtn').show();
                            $('#firstCheck').hide();


                        }

                    })


                });

            $("#CodeInput").keyup(function () {

                if($("#CodeInput").val()==RandomCode)
                {
                    $('#SubmitBtn').prop('disabled', false);
                }
               else
                {
                    $('#SubmitBtn').prop('disabled', true);
                }
            })


        })

    </script>
    <section class="bg-transparent" style="padding: 0%">
        <div class="background-image" style="background-image: url({{ asset('img/cover/cover.jpg') }});">
            <span class="background-overlay"></span>
            <div class="container">

            </div>

    </section>
    <section class="border-bottom-1 border-grey-300 padding-top-10 padding-bottom-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ path('check_logins') }}">Sign up</a></li>
                        <li class="active">Create new account</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="elements bg-white padding-top-10 padding-bottom-50"  >

        <div class="container">
            <form method="POST"  enctype="multipart/form-data"  action="{{ path('accountcreation') }}">
            <div class="row">
                <div class="col-lg-7">
                    <div class="title">
                        <h3> Registed new account</h3>
                    </div>
                    <div id="Part1">
                    <div class="form-group">
                        <input type="text" autocomplete="false" required class="form-control" name="Nom" id="Nom" placeholder="Fist Name">
                    </div>
                    <div class="form-group">
                        <input type="text" autocomplete="false" required class="form-control" name="Prenom" id="Prenom" placeholder="Last Name">
                    </div>

                    <div class="form-group">
                        <input type="text" autocomplete="false" required class="form-control" name="Pseudo" id="Pseudo" placeholder="Nickname">
                    </div>

                    <div class="form-group input-icon-left">
                        <i class="fa fa-user-secret" data-original-title="" title=""></i>
                        <input type="password" autocomplete="false" required class="form-control" name="MotDePasse" id="MotDePasse" placeholder="Password">
                    </div>

                    <div class="form-group">

                        <div class="form-group input-icon-left">
                            <i class="fa fa-at" data-original-title="" title=""></i>
                            <input type="email" class="form-control" id="Email" required name="Email" placeholder="E-mail">
                        </div>

                        <div class="form-group ">
                            <input type="date" id="dateInput" required name="DateDeNaissance" class="form-control bootstrap-datetimepicker-widget">

                        </div>

                        <div class="form-group input-icon-left">
                            <i class="fa fa-phone" data-original-title="" title=""></i>
                            <input type="number" class="form-control" required name="TelNum" placeholder="Phone number">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form-group input-icon-left">
                            <i class="fa fa-image note-placeholder" data-original-title="Select Tournament image" title="Select Tournament image"></i>
                            <input type="file" id="BSbtnsuccess" name="image" required class="BSbtnsuccess" placeholder="Select Tournament image">
                            <script>$('#BSbtnsuccess').filestyle({
                                    buttonName : 'btn-success',
                                    buttonText : ' Choose an image'
                                });</script>
                        </div>
                    </div>

                </div>
                    <div id="Part2" hidden>
                        <div class="form-group input-icon-left">
                            <div class="form-group -arrow-circle-left">We have just sent a verifcation code to your e-mail <br>
                                Please write it below
                            </div>
                        </div>
                        <div class="form-group input-icon-left">
                            <i class="fa fa-code" data-original-title="" title=""></i>
                            <input type="number" id="CodeInput" class="form-control" required placeholder="Verification code">
                        </div>
                        <div class="text-center margin-top-30">
                            <button type="submit" id="SubmitBtn" class="btn btn-success btn-lg btn-rounded btn-shadow">Submit</button>
                        </div>
                    </div>


                    <div class="text-center margin-top-30">
                        <button type="button" id="firstCheck" class="btn btn-success btn-lg btn-rounded btn-shadow">Comfirm</button>
                    </div>

                </div>
            </div>
                </form>


                <div class="col-lg-5 height-300">
                    <img src="{{ asset('img/content/contact.jpg') }}"  width="120%" height="150%"  class="image-right padding-top-50" alt="">
                </div>
            </div>

        </div>
    </section>


{% endblock %}
