<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<script src="{{ asset('assets/jquery/jquery-1.9.1.js') }}"></script>
	<style>

		.custom {
			background: #ff081b;
			animation: myfirst 5s;
			-webkit-animation: myfirst 1.25s infinite; /* Safari and Chrome */
		}

		@-webkit-keyframes myfirst /* Firefox */
		{
			0% {
				background: red;
			}
			50% {
				background: #e6023f;
			}
			100% {
				background: #ff0079;
			}
		}


	</style>
	<script>
        $(document).ready(function() {

            // Update notifications section

            window.setInterval(

                function()
                {
                    $.post('{{ path('lstnots') }}', function(data) {
                        $('#nots2').html(data);
                        console.log(data);
                    });

                }

                , 5000);

        })
	</script>
	<title>GameInjection - My profile </title>
	
	<!-- FAVICON -->
	<link rel="shortcut icon" href="img/favicon.ico">
	
	<!-- CORE CSS -->
	<link href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('FOassets/css/chat.css') }}" rel="stylesheet">
	<link href="{{ asset('FOassets/css/SideNav.css') }}" rel="stylesheet">
	<link href="{{ asset('plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'> 
    
	<!-- PLUGINS -->
	<link href="{{ asset('FOassets/plugins/animate/animate.min.css') }}" rel="stylesheet">

	<!-- THEME CSS -->
	<link href="{{ asset('FOassets/css/theme.min.css') }}" rel="stylesheet">
	<link href="{{ asset('FOassets/css/custom.css') }}" rel="stylesheet">
</head>

<body class="fixed-header">

	<header>
		<div class="container">
			<span class="bar hide"></span>
			<a href="{{ path('home') }}" class="logo"><img src="{{ asset('FOassets/img/logo.png') }}" alt=""></a>
			<nav>
				<div class="nav-control">
					<ul>
						<li class="">
							<a href="{{ path('showAllPosts') }}" class="">Forum</a>
							<!--<ul class="dropdown-menu default">
                                    <li><a href="{{ path('showAllPosts') }}">View All Tournaments</a></li>
                                </ul>-->
						</li>
						<li class="dropdown">
							<a href="" class="dropdown-toggle">Tournaments</a>
							<ul class="dropdown-menu default">
								<li><a href="{{ path('tournoi_index', {'p': 1}) }}">View All Tournaments</a></li>
                                {% if is_granted('ROLE_USER') %}
									<li><a href="{{ path('tournoi_new') }}">Create Tournament</a> </li>
                                {% endif %}
							</ul>
						</li>
						<li class="dropdown">
							<a href="" class="dropdown-toggle">Events</a>
							<ul class="dropdown-menu default">
								<li><a href="{{ path('tevenement_index_front', {'page': 1}) }}"><i class="fa fa-newspaper-o"></i> Check Our Events</a></li>
								<li><a href="{{ path('calender')}}"><i class="fa fa-calendar"></i> Calender</a></li>

							</ul>
						</li>
						<li class="dropdown">
							<a href="" class="dropdown-toggle">Shop</a>
							<ul class="dropdown-menu default">
								<li><a href="{{ path('tproduit_index', {'page': 1}) }}"><i class="fa fa-shopping-bag"></i>View All Products</a></li>
								<li><a href="{{ path('tproduit_new') }}"><i class="fa fa-plus"></i>Post You Product</a></li>
							</ul>
						</li>
						<li class="custom"><a href="{{ path('streaming_all') }}"><i class="fa fa-eye" ></i>Streaming</a></li>
						<!-- <li><a href="">Contact</a></li>-->
					</ul>
				</div>
			</nav>
			<div class="nav-right">
                {% if app.user  == null %}
					<div class="nav-profile dropdown">
						<a href="{{ path('eloboosted_login_homepage') }}" ><img src="{{ asset('FOassets/img/login.png') }}" alt=""> <span>Connect to you account</span></a>

					</div>

                {% else %}
                    {% set foo = app.user.image  %}
					<div class="nav-profile dropdown">
						<a href="{{ path('AddProduct_page') }}" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ foo }}" alt=""> <span>{{ app.user.pseudo }}</span></a>

						<ul class="dropdown-menu">
							<li><a href="{{ path('myProfile') }}"><i class="fa fa-user"></i> Profile</a></li>
							<li><a href="{{ path('editAccount') }}"><i class="fa fa-gear"></i> Settings</a></li>
							<li class="divider"></li>
							<li><a href="{{ path('SignOut') }}"><i class="fa fa-power-off"></i> Sign Out</a></li>
						</ul>

					</div>
					<div id="nots2" class="nav-dropdown dropdown">

                        {{ render(controller('EloboostedFrontofficeBundle:Notification:NotificationlistRender')) }}
                        {#<li class="dropdown-header"><i class="fa fa-bell"></i> You have 5 new games</li>
                        <li><a href="index.html#">Alien Isolation</a></li>
                        <li><a href="index.html#">Witcher 3 <span class="label label-success">XBOX</span></a></li>
                        <li><a href="index.html#">Last of Us</a></li>
                        <li><a href="index.html#">Uncharted 4 <span class="label label-primary">PS4</span></a></li>
                        <li><a href="index.html#">GTA 5 <span class="label label-warning">PC</span></a></li>
                        <li class="dropdown-footer"><a href="index.html#">View all games</a></li>#}
						</ul>
					</div>

                {% endif %}
				<span id="OpenNav" style="font-size:15px;color:White;cursor:pointer">&#9776; Open Chat</span>

			</div>
		</div>
	</header>
	<!-- /header -->
	
	<div class="modal-search">

		<div id="mySidenav" class="sidenav">
			<script>
                $(document).ready(function() {

                    $('#OpenNav').on('click',function () {

                        if($('#mySidenav').width()==0)
                        {
                            $('#mySidenav').width(380);
                        }
                        else
                        {
                            $('#mySidenav').width(0);
                        }
                    });





                    // Update messages section
                    window.setInterval(

                        function()
                        {
                            $.post('{{ path('lstmsg') }}', function(data) {
                                $('#renderedChat').html(data);
                            });

                        }

                        , 500);

                    $('#msg').on('submit', function(e) {
                        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire

                        var $this = $(this);

                        $.ajax({
                            url: $this.attr('action'),
                            type: 'post',
                            data: $this.serialize(),
                            dataType: 'json', // JSON
                            success: function(json) {
                                console.log(json);
                            }

                        });
                        $('#chatMessage').val('');



                        $("#chatMessage").focus();



                    });
                });

			</script>

			<div style="position: fixed;top: 56px;width: 368px">
                {% if app.user != null %}
					<div style="max-width: 380px; overflow-wrap: break-word;background-color: #1e347b;z-index: 99999">
						<div style="margin: 3px;font-size: 14px;padding: 5px">
							<form id="msg" action="{{ path('postmsg') }}" method="post">
								<label for="chatMessage" style="color: ghostwhite;">Type message</label>
								<input type="text" autocomplete="off" name="message" id="chatMessage" />
								<input type="submit" value="submit" class="btn-primary" />
							</form>
						</div>
					</div>

                    {#<form id="msg" action="{{ path('postmsg') }}" method="post">
                        <label for="chatMessage">Type messaga </label>
                        <input type="text" name="message" id="chatMessage" />
                        <input type="submit" value="submit" />
                    </form>#}


                {% else %}
					<div style="max-width: 380px; overflow-wrap: break-word;background-color: #1e347b;z-index: 99999">
						<div style="margin: 3px;font-size: 15px;padding: 5px">
							<h5 style="display: inline;color: #9fbfdf">If you want to contribute to the chat and help interract with our members please login <a  href="{{ path('eloboosted_login_homepage') }}" style="display: inline-block;font-size: 15px"> here </a></h5>
						</div>
					</div>

                {% endif %}
			</div>
			<div id="renderedChat" style="position: relative;width: 350px;z-index: -1" >
                {{ render(controller('EloboostedFrontofficeBundle:Compte:listRender')) }}
			</div>


		</div>

			</div>


<!-- /.modal-search -->
	
	<!-- wrapper -->
	<div id="wrapper">	
		<section class="hero cover hidden-xs" style="background-image: url(img/cover/cover-profile.jpg);">
			<div class="hero-bg"></div>
			<div class="container relative">
				<div class="page-header">
					<div class="page-title">{{ app.user.pseudo }} </div>
					<div class="profile-avatar">
						<div class="thumbnail" data-toggle="tooltip" title="{{ app.user.pseudo }}">
							<a href="{{ path('myProfile') }}">
								<img src="{{ foo }}">
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="profile-nav height-50 border-bottom-1 border-grey-300  hidden-xs">
			<div class="tab-select sticky">
				<div class="container">
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="{{ path('myProfile') }}">Recent activities</a></li>
						<li class=""><a href="{{ path('myFriends') }}">Friends list</a></li>
						<li class=""><a href="{{ path('myInbox') }}">my inbox</a></li>
					</ul>
				</div>
			</div>
		</section>

		<section class="bg-grey-50 padding-top-60 padding-top-sm-30">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4 hidden-xs">
						<div class="widget">
							<div class="panel panel-default">
								<div class="panel-heading">About me</div>
								<div class="panel-body">
									<ul class="panel-list margin-top-25">
										<li><i class="fa fa-calendar"></i> Born {{ app.user.DateDeNaissance | date }}</li>
										<li><i class="fa fa-bookmark"></i> Posts {{ myposts | length }}</li>
										<li><i class="fa fa-comment"></i> Comments {{ mycomments | length }}</li>
										<li><i class="fa fa-chain-broken"></i> Points {{ app.user.points }}</li>
									</ul>
								</div>
							</div>
						</div>
						

						
						<div class="widget widget-friends">
							<div class="panel panel-default">
								<div class="panel-heading">Friends ({{ lstAmi|length }})</div>
								<div class="panel-body">
									<ul>

											{% for ami in lstAmi | slice(0,5) %}
												<li><a href="{{ path('userProfile',{id : ami.idCompte}) }}" data-toggle="tooltip" title="{{ ami.pseudo }}"><img src="{{ ami.image }}" alt=""></a></li>
												{{ ami.pseudo }} <br>
											{% endfor %}
									</ul>
								</div>
							</div>
						</div>
						
						<div class="widget widget-list">
							<div class="panel panel-default">
								<div class="panel-heading bold">Recent Feeds</div>
								<div class="panel-body">
									<ul>
										{% for post in posts | sortbyfield('date') | reverse | slice(0,5) %}
										<li>
											<a href="{{ path('userProfile',{ id : post.idComptePost.idCompte}) }}" class="thumb"><img src="{{ post.idComptePost.image }}" alt=""></a>
											<div class="widget-list-meta">
												<h4 class="widget-list-title"><a href="{{ path('readPost',{ idPost : post.idPost}) }}">{{ post.titre }}</a></h4>
												<p><i class="fa fa-clock-o"></i> {{ post.date | ago }}</p>
											</div>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-9 col-sm-8">

						<h4 class="page-header text-center no-padding"><i class="fa fa-smile-o"></i>Check what your firends are up to </h4>

                        {% for item in friendsActivities | sortbyfield("date") | reverse %}
                        {% if item.idCommentaire is defined and item.idCompteCp in lstAmi %}
						<div class="post">
							<h4 class="page-header text-center no-padding"><i class="fa fa-clock-o"></i>{{ item.idCompteCp.pseudo }} Commented {{ item.date|ago }} </h4>
							<div class="panel panel-default panel-post">
								<div class="panel-body">
									<div class="post">
										<div class="post-header post-author">
											<a href="{{ path('userProfile',{id : item.idPostCp.idComptePost.idCompte}) }}" class="author" data-toggle="tooltip" title="YAKUZI"><img src="{{ item.idPostCp.idComptePost.image }}" alt=""></a>
											<div class="post-title">
												<h3><a href="{{ path('readPost', { idPost : item.idPostCp.idPost}) }}" >{{ item.idPostCp.titre }}</a></h3>
												<ul class="post-meta">
													<li><i class="fa fa-calendar-o"></i> {{ item.idPostCp.date|date }}</li>
													<li> Category : {{ item.idPostCp.cathegorieSpecifique.nom }}</li>
												</ul>
											</div>
										</div>
                                        {{ item.idPostCp.sujet }}
									</div>
								</div>
								<div class="panel-footer">
									<ul class="post-action">
                                        {% set x=0 %}
                                        {% for nbrCommentaire in comments %}
                                            {% if nbrCommentaire.idPostCp == item.idPostCp %}
                                                {% set x=x+1 %}
                                            {% endif %}
                                        {% endfor %}
										<li><i class="fa fa-comments"></i> Comments ({{ x }}) </li>
                                        {% set x=0 %}
									</ul>
								</div>
							</div>
						</div>
						{% endif %}
                        {% if item.idPost is defined and item.idComptePost in lstAmi%}
						<div class="post">
							<h4 class="page-header text-center no-padding"><i class="fa fa-clock-o"></i> {{ item.idComptePost.pseudo }} Created a post {{ item.date|ago }} </h4>
							<div class="panel panel-default panel-post">
								<div class="panel-body">
									<div class="post">
										<div class="post-header post-author">
											<a href="{{ path('userProfile',{id : item.idComptePost.idCompte}) }}" class="author" data-toggle="tooltip" title="YAKUZI"><img src="{{ item.idComptePost.image }}" alt=""></a>
											<div class="post-title">
												<h3><a href="{{ path('readPost', { idPost : item.idPost}) }}" >{{ item.titre }}</a></h3>
												<ul class="post-meta">
													<li><i class="fa fa-calendar-o"></i> {{ item.date|date }}</li>
													<li> Category : {{ item.cathegorieSpecifique.nom }}</li>
												</ul>
											</div>
										</div>
                                        {{ item.sujet }}
									</div>
								</div>
								<div class="panel-footer">
									<ul class="post-action">
                                        {% set x=0 %}
                                        {% for nbrCommentaire in comments %}
                                            {% if nbrCommentaire.idPostCp == item %}
                                                {% set x=x+1 %}
                                            {% endif %}
                                        {% endfor %}
										<li><i class="fa fa-comments"></i> Comments ({{ x }}) </li>
                                        {% set x=0 %}
									</ul>
								</div>
							</div>
							<div class="post">

                            {% endif %}
						{% endfor %}
						

						

						

						
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- /#wrapper -->
	
	<!-- footer -->
	<footer>
		<div class="container">
			<div class="widget row">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
					<h4 class="title">About GameForest</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra mattis arcu, a congue leo malesuada eu. Nam nec mauris ut odio tristique varius et eu metus. Quisque massa purus, aliquet quis blandit et, <br /> <br />mollis sed lorem. Sed vel tincidunt elit. Phasellus at varius odio, sit amet fermentum mauris.</p>
				</div>
					
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<h4 class="title">Categories</h4>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">	
							<ul class="nav">
								<li><a href="profile.html#">Playstation 4</a></li>
								<li><a href="profile.html#">XBOX ONE</a></li>
								<li><a href="profile.html#">PC</a></li>
								<li><a href="profile.html#">PS3</a></li>
							</ul>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<ul class="nav">
								<li><a href="profile.html#">Gaming</a></li>
								<li><a href="profile.html#">Portfolio</a></li>
								<li><a href="profile.html#">Videos</a></li>
								<li><a href="profile.html#">Reviews</a></li>
							</ul>
						</div>
					</div>
				</div>
		
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h4 class="title">Email Newsletters</h4>
					<p>Subscribe to our newsletter and get notification when new games are available.</p>
					<form method="post" class="btn-inline form-inverse">
						<input type="text" class="form-control" placeholder="Email..." />
						<button type="submit" class="btn btn-link"><i class="fa fa-envelope"></i></button>
					</form>
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">	
				<ul class="list-inline">
					<li><a href="profile.html#" class="btn btn-circle btn-social-icon" data-toggle="tooltip" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="profile.html#" class="btn btn-circle btn-social-icon" data-toggle="tooltip" title="Follow us on Facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="profile.html#" class="btn btn-circle btn-social-icon" data-toggle="tooltip" title="Follow us on Google"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="profile.html#" class="btn btn-circle btn-social-icon" data-toggle="tooltip" title="Follow us on Steam"><i class="fa fa-steam"></i></a></li>
				</ul>
				&copy; 2016 Gameforest. All rights reserved.
			</div>
		</div>
	</footer>	
	<!-- /.footer -->
	
	<!-- Javascript -->
	<script src="{{ asset('FOassets/plugins/jquery/jquery-3.1.0.min.js') }}"></script>
	<script src="{{ asset('FOassets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('FOassets/js/core.min.js') }}"></script>
	<script>
	(function($) {
	"use strict";
		$(window).scroll(function(){
			if ($(this).scrollTop() > 300) {
				$('body').addClass('fixed-tab');
			} else {
				$('body').removeClass('fixed-tab');
			}
		});
	})(jQuery);
	</script>
</body>
</html>