{% extends '@EloboostedFrontoffice/Default/Layout.html.twig' %}

{% block main %}
    <link href="{{ asset('css/rating.css') }}" rel="stylesheet">
    <section class="hero height-350 hero-game" style="background-image: url('{{ asset('img/cover/cover-game.jpg') }}');">
        <div class="hero-bg"></div>
        <div class="container">
            <div class="page-header">
                <div class="page-title">Game Injection</div>
                <ol class="breadcrumb">
                    <li><a href="index.html" class="no-padding-left">Home</a></li>
                    <li><a href="{{ path('tevenement_index_front') }}">Events</a></li>
                    <li class="active">Show Event</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="bg-grey-50">
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-9 leftside">
                    <div class="panel panel-default panel-post">
                        <div class="panel-body">

                            <div class="post post-single">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h2><a href="{{ path('tevenement_show', { 'id': tEvenement.idEvenement }) }}">{{ tEvenement.titleevent }}</a></h2>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-calendar-o"></i>{{ tEvenement.dateEvent|date }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="embed-responsive embed-responsive-16by9 post-thumbnail">
                                    <iframe class="embed-responsive-item"  src="{{ tEvenement.lien }}" frameborder="0" allowfullscreen></iframe>

                                </div>
                                <div class="row margin-top-40">

                                </div>
                                <table border="0" width="100%">
                                    <tr>
                                        <td class="padding-10"> Type Of The Event: </td>
                                        <td><span class="label label-warning">{{ tEvenement.typeEvent }}</span>
                                    </tr>

                                </table>
                                <p class="padding-10">{{ tEvenement.note }} </p>
                            </div>

                            <div class="comments">

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 rightside">
                    <div class="widget widget-list">
                        <div class="title">Recent Events </div>
                        <ul>
                            {% for l in Tevents %}
                                <li>
                                    <a href="{{ path('tevenement_show', { 'id': tEvenement.idEvenement }) }}" class="thumb"><img src="{{ path('get_event_img',{ 'id':l.idEvenement }) }}" alt=""></a>
                                    <div class="widget-list-meta">
                                        <h4 class="widget-list-title"><a href="{{ path('tevenement_show', { 'id': tEvenement.idEvenement }) }}">{{ l.titleevent }}</a></h4>
                                        <p><i class="fa fa-clock-o"></i> {{ l.dateEvent|date }}</p>
                                    </div>
                                </li>

                            {% endfor %}
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <script src="{{ asset('plugins/jquery/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/ekko-lightbox/ekko-lightbox.min.js') }}"></script>
    <script src="{{ asset('js/core.min.js') }}"></script>
    <script src="{{ asset('plugins/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('plugins/easypiechart/jquery.easypiechart.min.js') }}"></script>
    <script src="{{ asset('js/rating.js') }}"></script>
{% endblock %}

