{% extends 'EloboostedFrontofficeBundle:Default:Layout.html.twig' %}
{% block main %}
    <section class="hero height-350 hero-game" style="background-image: url({{ asset('img/cover/cover-game.jpg') }});">
        <div class="hero-bg"></div>
        <div class="container">
            <div class="page-header">
                <div class="page-title">Game Injection | Our Events</div>
                <ol class="breadcrumb">
                    <li><a href="{{ path('tevenement_index_front', {'page': 1}) }}" class="no-padding-left">Events</a>
                    </li>
                    <li class="active">Show Event</li>
                </ol>
            </div>
        </div>
    </section>

    <section class="bg-grey-50 padding-top-30">
        <div class="container">
            <div class="row">
                <div class="col-md-8 padding-right-20">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="headline">
                                <h4>Event :</h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-post">
                        <div class="panel-body">
                            <div class="post">
                                <div class="post-header post-author">
                                    <div class="post-title">
                                        <h3>
                                            <a href="{{ path('tevenement_show', {'id': tEvenement.idEvenement}) }}">{{ tEvenement.titleevent }}</a>
                                        </h3>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-calendar-o"></i>{{ tEvenement.dateEvent|date }}</li>
                                            <li><i class="fa fa-youtube-play"> Duration {{ tEvenement.dureeevent }}</i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="embed-responsive embed-responsive-16by9 post-thumbnail">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ tEvenement.lien }}"
                                            allowfullscreen=""></iframe>
                                </div>
                                <p>
                                    {{ tEvenement.note }}
                                </p>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-md-4 padding-left-20">
                    <div class="widget widget-game" style="background-image: url({{ path('get_event_img',{ 'id':tEvenement.idEvenement }) }});">
                        <div class="overlay">
                            <div class="title">{{ tEvenement.titleevent }}</div>

                            <div class="bold text-uppercase">Type</div>
                            <span class="label label-warning">{{ tEvenement.typeEvent }}</span>

                            <div class="bold text-uppercase margin-top-35">Release Date:</div>
                            <span class="font-size-13">{{ tEvenement.dateEvent|date }}</span>

                        </div>
                    </div>

                    <div class="widget widget-list">
                        <div class="tab-select border-bottom-1 border-grey-300">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="" data-toggle="tab">Recent Events</a></li>
                            </ul>
                        </div>
                        {% for ev in Tevents %}
                        <div class="tab-content">
                            <ul class="tab-pane fade in active" id="tabs1">
                                <li>
                                    <a href="{{ path('tevenement_show', {'id': ev.idEvenement}) }}" class="thumb"><img src="{{ path('get_event_img',{ 'id':ev.idEvenement }) }}" alt=""></a>
                                    <div class="widget-list-meta">
                                        <h4 class="widget-list-title"><a href="#">{{ ev.titleevent }}</a></h4>
                                        <p><i class="fa fa-clock-o"></i> {{ ev.dateEvent|date }}</p>
                                    </div>
                                </li>
                            </ul>

                        </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ asset('js/core.min.js') }}"></script>
    </section>
{% endblock %}