{% extends '@EloboostedFrontoffice/Default/Layout.html.twig' %}
{% block main %}
    <style>

        .custom {
            background: #ff081b;
            animation: myfirst 5s;
            -webkit-animation: myfirst 1.25s infinite; /* Safari and Chrome */
        }

        @-webkit-keyframes myfirst /* Firefox */
        {
            0% {
                background: red;
            }
            50% {
                background: #e6023f;
            }
            100% {
                background: #ff0079;
            }
        }


    </style>
    <script>
        var should = chai.should();
        chai.Assertion.includeStack = true;
        mocha.setup({
            ui: 'bdd',
            globals: ['Twitch'],
            ignoreLeaks: true
        });
    </script>

    <script src="{{ asset('js/twitch.js') }}"></script>
    <script src="{{ asset('js/test.integration.api.js') }}"></script>

    <script>
        window.CLIENT_ID = 'wd54hhxdz79qajdijaofha1zb0dk3g';
        window.REDIRECT_URI = 'https://www.twitch.tv/imaqtpie'
        $(function () {
            Twitch.init({clientId: CLIENT_ID});

            $('.twitch-connect').click(function () {
                Twitch.login({
                    redirect_uri: REDIRECT_URI,
                    popup: true,
                    scope: ['user_read', 'channel_read', 'channel_commercial']
                });
                $('.fragment-entry').removeClass('hidden')
            })

            $('.fragment-entry button').click(function () {
                document.location.hash = $('#fragment').val()

                Twitch._initSession();
                mocha.run();
            })
        });
    </script>

    <style type="text/css">
        .hidden {
            display: none;
        }

        .test.pass::before {
            content: '✓';
            font-size: 12px;
            display: block;
            float: left;
            margin-right: 5px;
            color: #00c41c;
        }

        .test.fail::before {
            content: '✖';
            font-size: 12px;
            display: block;
            float: left;
            margin-right: 5px;
            color: #c00;
        }
    </style>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 leftside">

                    {% for t in usersoverwatch %}
                        <div class="post post-lg">
                            <div class="post-header post-author">
                                <a href="#" class="author" data-toggle="tooltip" title=""
                                   data-original-title="YAKUZI"><img
                                            src="{{ t.logo }}" alt=""></a>
                                <div class="post-title">
                                    <h2><a href="blog-post.html">{{ t.status }}</a></h2>
                                    <ul class="post-meta">
                                        <li><a href="#"><i class="fa fa-user"></i> {{ t.name }}</a></li>
                                        <li><i class="fa fa-eye"></i> {{ t.views }}</li>
                                        <li><a href="#"><i class="fa fa-comments"></i> {{ t.followers }} <span
                                                        class="hidden-xs">followers</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="post-thumbnail">
                                <iframe src="https://player.twitch.tv/?channel={{ t.name }}" frameborder="0"
                                        allowfullscreen="true" scrolling="no" height="398" width="708"
                                        autoplay=false></iframe>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 rightside">


                    <div class="widget widget-games">
                        <div class="title">Top Streamers</div>
                        <ul>
                            <li style="background-image: url({{ qt.logo }});">
                                <a href="#" class="overlay">
                                    <span class="number">1</span>
                                    <div class="game-meta">
                                        <h4 class="game-title">{{ qt.name }}</h4>
                                        <span>{{ qt.followers }}</span>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url({{ nb3.logo }});">
                                <a href="#" class="overlay">
                                    <span class="number">2</span>
                                    <div class="game-meta">
                                        <h4 class="game-title">{{ nb3.name }}</h4>
                                        <span>{{ nb3.followers }}</span>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url({{ faker.logo }});">
                                <a href="#" class="overlay">
                                    <span class="number">3</span>
                                    <div class="game-meta">
                                        <h4 class="game-title">{{ faker.name }}</h4>
                                        <span>{{ faker.followers }}</span>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url({{ nl_kripp.logo }});">
                                <a href="#" class="overlay">
                                    <span class="number">4</span>
                                    <div class="game-meta">
                                        <h4 class="game-title">{{ nl_kripp.name }}</h4>
                                        <span>{{ nl_kripp.followers }}</span>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url({{ timthetatman.logo }});">
                                <a href="#" class="overlay">
                                    <span class="number">5</span>
                                    <div class="game-meta">
                                        <h4 class="game-title">{{ timthetatman.name }}</h4>
                                        <span>{{ timthetatman.followers }}</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <img id="image" src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png"
                             class="twitch-connect" href="#"/>
                    </div>


                    <div class="widget">
                        <div class="title">Recommended Channels</div>
                        <div class="card card-video">
                            <div class="card-img">
                                <iframe src="https://player.twitch.tv/?channel={{ nb3.name }}" frameborder="0"
                                        allowfullscreen="true" scrolling="no" height="188.4" width="335"
                                        autoplay=false></iframe>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">{{ nb3.game }}</h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> {{ nb3.updated_at|date }}</li>
                                    <li><i class="fa fa-eye"></i> {{ nb3.followers }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card card-video">
                            <div class="card-img">
                                <iframe src="https://player.twitch.tv/?channel={{ qt.name }}" frameborder="0"
                                        allowfullscreen="true" scrolling="no" height="188.4" width="335"
                                        autoplay=false></iframe>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">{{ qt.game }}</h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> {{ qt.updated_at|date }}</li>
                                    <li><i class="fa fa-eye"></i> {{ qt.followers }}</li>
                                </ul>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        <script src="{{ asset('js/core.min.js') }}"></script>

    </section>
{% endblock %}