{# src/FrontofficeBundle/Resources/views/Products/addProduct.html.twig #}
{% extends 'EloboostedFrontofficeBundle:Default:Layout.html.twig' %}
{% block main %}
    <script src="{{ asset('assets/jquery/jquery-1.9.1.js') }}"></script>
    <script>
        $(document).ready(function() {


            $('#ajoutmessage').on('submit', function (e) {
                e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                var msg =$('#textcommentaire').val();
                var $this = $(this);

                $.ajax({
                    url: $this.attr('action'),
                    type: 'post',
                    data: { msg : msg , id : {{  post.idPost}} },
                    dataType: 'json', // JSON
                    success: function (data) {
                        console.log(data['data']);
                    },
                    error: function (data) {
                        console.log('error');
                    }
                });
                $('#textcommentaire').val('');

            })

            // Update comments section

            window.setInterval(
                function () {
                    $.post('{{ path('commentaire', {id : post.idPost}) }}', function (data) {
                        $('#commentaire').html(data);
                    });

                }

                , 2000);

        })
    </script>
    <div id="wrapper">
        <section class="border-bottom-1 border-grey-300 padding-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="{{ path('home') }}">Home</a></li>
                            <li><a href="{{ path('showAllPosts') }}">All Posts</a></li>
                            <li class="active">Read Post</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-grey-50 padding-bottom-60">
            <div class="container">
                <div class="headline">
                    <h4><i class="fa fa-comments"></i> Forum Post Thread</h4>
                    <div class="pull-right">
                        <a href="{{ path('AddPost') }}" class="btn btn-primary btn-icon-left"><i class="fa fa-comments"></i> new Post</a>
                        {% if app.user == post.idComptePost %}
                        <a href="{{ path('removePost',{'idPost':post.idPost }) }}" data-message="Are you sure you want to delete this post?"  class="btn btn-default btn-icon-left"><i class="fa fa-edit"></i>remove Post</a>
                        {% endif %}


                    </div>
                </div>

                <div class="forum-post">
                    <div class="forum-panel">
                        <div class="forum-user">
                            <a  href="{{ path('userProfile',{id : post.idComptePost.idCompte}) }}" class="avatar"><img src={{ post.idComptePost.image }} alt=""></a>
                            <div>
                                <a href="{{ path('userProfile',{id : post.idComptePost.idCompte}) }}">{{ post.idComptePost.pseudo }}</a>
                                <span>Birth day</span>
                                <span class="date">{{ post.idComptePost.dateDeNaissance|date }}</span>
                            </div>
                        </div>
                        <div class="forum-body">
                            <h4>{{ post.titre }},</h4>
                            <p>{{ post.sujet }}</p>
                        </div>
                    </div>
                    <div class="forum-footer">
                        <ul class="post-action">
                            {% set y1=0 %}
                            {% for postreported in postreported %}
                                {% if post.idPost==postreported.idPostSng.idPost %}
                                    {% set y1=1 %}
                                {% endif %}

                            {% endfor %}
                            {% if y1==1 %}
                            <li><a style="color: #A00000"><i class="fa fa-flag"></i> Reported</a></li>

                            {% else %}
                            <li><a href="{{ path('report',{'id':post.idPost }) }}"><i class="fa fa-flag"></i> Report</a></li>
                            {% endif %}

                        </ul>
                        <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i>{{ post.date|date }}</li>

                        </ul>
                    </div>
                </div>
                <div class="headline">
                    <h4><i class="fa fa-comment"></i> Comments</h4>
                </div>

<div id="commentaire">
    {{ render(controller('EloboostedFrontofficeBundle:Post:commentaire',{id : post.idPost})) }}
</div>

                <div class="headline">
                    <h4><i class="fa fa-comment"></i> Write a reply</h4>
                </div>
                <div  name="zone2" class="panel panel-default margin-bottom-30">
                    <div class="panel-body">
                        <form class="form-label" id ="ajoutmessage" enctype="multipart/form-data" action="{{ path('Addcommentaire') }}">

                            <div class="form-group row">
                                <label class="col-md-2">Message</label>

                                <div class="col-md-10" >
                                    <input type="text" class="form-control" required  id="textcommentaire" name="replay" placeholder="Add Message" style="height:200px;">
                                </div>
                            </div>

                            <div class="text-center"><input type="submit" name="btn" value="SUBMIT" class="btn btn-primary btn-lg btn-rounded btn-shadow"></div>


                        </form>
                    </div>
                </div>


            </div>
        </section>
    </div>

{% endblock %}