{# src/FrontofficeBundle/Resources/views/Products/addProduct.html.twig #}
{% extends 'EloboostedFrontofficeBundle:Default:Layout.html.twig' %}
{% block main %}
<div id="wrapper">
    <section class="border-bottom-1 border-grey-300 padding-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li class="active">All Posts</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-grey-50 padding-bottom-60">
        <div class="container">
            <div class="headline">
                <h4 class="no-padding-top">Forum <small>ALL POSTS.</small></h4>
                <div class="pull-right">
                    {% if app.user!=null %}
                    <a href="{{ path('AddPost') }}" class="btn btn-primary btn-icon-left"><i class="fa fa-comments"></i> new post</a>
                    {% elseif app.user==null %}
                        <a href="{{ path('check_logins') }}" class="btn btn-primary btn-icon-left"><i class="fa fa-comments"></i> new post</a>

                    {% endif %}
                </div>
            </div>


{% for post in post  %}

            <div class="forum forum-thread">
                <div class="forum-group">
                    <div class="forum-icon"><i class="fa fa-comments"></i></div>
                    <div class="forum-title">
                        <h4><a href="{{ path('readPost',{'idPost':post.idPost }) }}">{{ post.titre }}</a></h4>

                    </div>
                    <div class="forum-activity">

                        <a href="{{ path('userProfile',{id : post.idComptePost.idCompte}) }}"><img src="{{post.idComptePost.image}}" alt=""></a>

                        <div>

                            <h4><a href="{{ path('userProfile',{id : post.idComptePost.idCompte}) }}">{{ post.idComptePost.pseudo }}</a></h4>
                            <span>{{ post.date|date}}</span>
                        </div>
                    </div>
                    {% set x=0  %}
                    {% for comments in comments %}
                        {% if post.idPost == comments.idPostCp.idPost %}
                         {% set x=x+1 %}
                        {% endif %}
                    {% endfor %}
                    <div class="forum-meta">{{ x }} Comments </div>
                    {% set x=0 %}
                </div>
            </div>
     {% endfor %}

        </div>
    </section>
</div>
    <div class="navigation"   >
        {{ knp_pagination_render(post) }}
    </div>
{% endblock %}

