{% extends 'EloboostedFrontofficeBundle:Default:Layout.html.twig' %}
{% block main %}

    <section class="bg-transparent" style="padding: 0%">
        <div class="background-image" style="background-image: url({{ asset('img/cover/cover.jpg') }});">
            <span class="background-overlay"></span>
            <div class="container">
                <h3 class="color-white font-weight-300"></h3>
            </div>
        </div>
    </section>
    <section class="border-bottom-1 border-grey-300 padding-top-10 padding-bottom-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><a href="{{ path('yes_index') }}">Games</a></li>

                        <li class="active">Game Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>



    <section class="bg-grey-50 padding-top-30 ">


        <div class="container col-md-offset-2">
            <div class="row">
                <div class="col-md-8 padding-right-20">
                    <div class="panel panel-default panel-post">
                        <div class="panel-body">
                            <div class="post">
                                <div class="post-header post-author">
                                    <a href="games-single.html#" class="author" data-toggle="tooltip" title="{{ game.idCathegorieg.nom }}"><img src="{{ asset("img/" ) ~ game.idCathegorieg.nom  ~".png"}}" alt=""></a>
                                    <div class="post-title">
                                        <h3><a href="#">{{ game.nomGames }}</a></h3>
                                        <ul class="post-meta">
                                            <li><span class="label label-info">{{ game.supported | upper }}</span> </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="embed-responsive embed-responsive-16by9 post-thumbnail">
                                    <img src="data:image/png;base64,{{ game.imageGames  }}" style="height: 500px" alt=""></a>

                                </div>
                                <p>{{ game.description }}</p>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>



    </section>
{% endblock %}
